* {
	box-sizing: border-box;
	background-color:white;
	
}
body {
	font-family: sans-serif;
	
}
.flex-container-column {
	display: flex;
	flex-direction: column;
	max-width: 653px;
	margin: 0 auto;
	text-align: left;
}
.tabledata{
	align-items: center;
}
table,
th,
td {
  border: 1px solid;
}

table {
  width: 100%;
  max-width: 653px;
  height: 280px;
  margin: 0 auto;
  overflow-x: auto;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
	text-align: center;
}
.desaintd{
	text-align: left;
	background-color:gray;
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: bottom;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

